<div class="modal fade" id="pkmn-modal" tabindex="-1" role="dialog" aria-labelledby="pkmnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pkmnModalLabel">Wild <span class="modal-pkmn-name"></span> Appeared!</h5>
        </div>
        <div class="modal-body text-center">
          <img src="" alt="" class="modal-sprite">

          <div class="dice-wrapper m-auto mt-3 mb-3">
            <div class="dice-inner">
                <div class="dice-number">20</div>
            </div>
          </div>

          <div class="roll-message">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary run-btn" data-dismiss="modal" data-id="">Run Away</button>
          <button type="button" class="btn btn-primary roll-btn" data-id="">Roll to Catch!</button>
          <button type="button" class="btn btn-primary leave-btn">Leave</button>
        </div>
      </div>
    </div>
  </div>